
<div class="container" style="padding:30px">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6">
                    Customer Name: <textarea id="CustomerName" placeholder="Customer Name" class="form-control" style="height:100px;width:100%"></textarea>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        Cashire: <input type="text" disabled id="CashierName" value="Cashier abc" class="form-control" />
                        <br />
                        Time: <input type="datetime" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body"> 
            <div id="Products">
                <div class="row Product" id="Product1">
                    <div class="col-md-3">
                        Product Name:
                        <input type="text" id="ProductValue1" placeholder="Enter Product Name or Id" style="position:unset" class="form-control ui-autocomplete" /><input hidden id='SelectedProductId1' onchange="UpdateQuantity(1)">
                    </div>
                    <div class="col-md-3">
                        Quantity: <input type="number" id="Quantity1" class="form-control" value="0" onchange="UpdatePrice()"/>
                    </div>
                    <div class="col-md-3">
                        Price: <input type="number" id="Price1" class="form-control" disabled />
                    </div>
                    <div class="col-md-3">
                        Remove:<button class="btn btn-sm btn-danger form-control" id="RemoveProduct1" onclick="RemoveProduct('Product1')">X</button>
                    </div>
                </div><hr id="HrProduct1" />
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-primary form-control" id="AddNewProduct" onclick="AddProductRow()">+</button>
                </div>
                <div class="col-md-4">
                    Total Price: <input type="number" id="TotalPrice" class="form-control" disabled/>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary form-control" id="SubmitForm" onclick="SubmitForm()">Confirm Order</button>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="number" value="1" hidden id="TotalProducts"/>

<script>

    $(document).ready(function () {
        
        $("#ProductValue1").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Products/SearchProduct",
                    type: "POST",
                    dataType: "json",
                    data: { query: $("#ProductValue1").val() },
                    success: function (data) {
                        response($.map(data,
                            function (item) {
                                $('#SelectedProductId1').val(item.Id);
                                return { label: item.Name, value: item.Name };
                            }));

                    }
                });


            },
            messages: {
                noResults: "",
                results: function (count) {
                    return count + (count > 1 ? ' results' : ' result ') + ' found';
                }
            }
        });
    });


    function AddProductRow()
    {
        var totalProducts = $("#TotalProducts").val();
        var newProductNo = parseInt(totalProducts) + 1;
        var removalFunc = "RemoveProduct('Product" + newProductNo + "')";
        $("#Products").append("<div class='row Product' id='Product" + newProductNo + "'>" +
                    "<div class='col-md-3'>" +
                        "Product Name:" +
                        "<input type='text' id='ProductValue" + newProductNo + "' style='position:unset' placeholder='Enter Product Name or Id' class='form-control ui-autocomplete' /><input hidden id='SelectedProductId"+newProductNo+"'  onchange='UpdateQuantity("+newProductNo+")'>" +
                        "</div>" +
                    "<div class='col-md-3'>" +
                            "Quantity: <input type='number' value='0' id='Quantity" + newProductNo + "' class='form-control' />" +
                        "</div>" +
                    "<div class='col-md-3'>" +
                        "Price: <input type='number' id='Price"+newProductNo+"' class='form-control' disabled/>" +
                    "</div>" +
                    "<div class='col-md-3'>" +
                            "Remove:<button class='btn btn-sm btn-danger form-control' id='RemoveProduct" + newProductNo + "' onclick="+removalFunc+">X</button>" +
                    "</div></div><hr id='HrProduct'" + newProductNo + ">");
        $("#TotalProducts").val(newProductNo);


        $("#ProductValue" + newProductNo).autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Products/SearchProduct",
                    type: "POST",
                    dataType: "json",
                    data: { query: $("#ProductValue" + newProductNo).val() },
                    success: function (data) {
                        response($.map(data,
                            function (item) {
                                return { label: item.Name, value: item.Name };
                            }));

                    }
                });


            },
            messages: {
                noResults: "",
                results: function (count) {
                    return count + (count > 1 ? ' results' : ' result ') + ' found';
                }
            }
        });

        debugger;
        var prodId = parseInt($("#ProductValue" + newProductNo).val().replace(/[^\d.]/g, ''))
        $('#SelectedProductId' + newProductNo).val(prodId);
        $.ajax({
            url: "/Products/GetPrice",
            type: "POST",
            dataType: "json",
            data: { Id: prodId },
            success: function (data) {
                debugger;
                var quantity = (parseInt($("#Quantity" + newProductNo).val()) == 0) ? 1 : (parseInt($("#Quantity" + newProductNo).val()) + 1);
                $("#Quantity" + newProductNo).val(quantity)
                $("#Price" + newProductNo).val(data * quantity);

            }
        });
       
    }

    

    function RemoveProduct(id)
    {
        $("#" + id).remove()
        $("#Hr" + id).remove()
    }

    function SubmitForm()
    {
        var CustomerName = $("#CustomerName").val();
        var DetailCounter = 1;
        var OrderDetails = [];
        $(".Product").each(function () {
            var DetailCounter = $(this).attr("id"); 
            DetailCounter = parseInt(DetailCounter.replace(/[^\d.]/g, ''));
            OrderDetail = {
                Id: '',
                OrderId: '',
                ProductId: $("#SelectedProductId" + DetailCounter).val(),
                Price: '',
                Quantity: $("#Quantity" + DetailCounter).val()
            }
            OrderDetails.push(OrderDetail);
        });
        $.ajax({
            url: "/Orders/SubmitOrder",
            type: "POST",
            dataType: "json",
            data: {CustomerName: CustomerName, OrderDetails: OrderDetails},
            success: function (data) {
                response($.map(data,
                    function (item) {
                        $('#SelectedProductId' + newProductNo).val(item.Id);
                        return { label: item.Name, value: item.Name };
                    }));

            }
        });
    }






</script>